<div class="hero-unit">
	<h1>My Web Site Is Totally Awesome</h1>
	<p>
		You have found the home page for the coolest dude on the internet - <%= link_to "Big Guns Reuter!", "http://bigguns.com" %>

	</p>
	<p>
		<%= link_to "Sign Up To Get Jsacked!", "#", class: "btn btn-primary btn-large" %>
	</p>

	<div class="footer">
		<small>
			<a href="http://biggunsreuter.com">Big Guns Reuter</a> by Willis G Reuter
		</small>

</div>
